blinker
cachetools
certifi
cffi
charset-normalizer
click
colorama
contourpy
cryptography
cycler
Deprecated
dnspython
Flask
Flask-Cors
Flask-Login
Flask-SQLAlchemy
fonttools
fpdf
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
googleapis-common-protos
greenlet
httplib2
id
instaloader
itsdangerous
Jinja2
jwcrypto
jwt
kiwisolver
MarkupSafe
matplotlib
numpy
packaging
Pillow
protobuf
pyasn1
pyasn1-modules
pycparser
pymongo
pyparsing
python-dateutil
python-decouple
python-dotenv
python-jwt
requests
schedule
six
SQLAlchemy
typing_extensions
uritemplate
urllib3
Werkzeug
wrapt
idna
packaging
pycparser
python-decouple
rsa
gunicorn
